::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}

body {
	font-family: 'Open Sans', sans-serif !important;
}

.color-b-l {
	color:#0381f0 !important;
}

.background-b-l {
	background-color:#0381f0 !important;
}

section {
	padding:30px 0;
}

.section-top {
	background: url('../img/main-scr.jpg') no-repeat center center fixed; 
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: left;
	color: white;
}

.section-top h1 {
	text-transform: uppercase;
	font-size: 45px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
}

.section-top h2 {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	line-height: 1.2;
}

.section-top .general-header {
	font-size: 45px;
}

.section-errors {
	padding-top: 100px;
	height: 100vh;
	background: url('../img/scr-errors.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

.section-errors h1 {
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 1px #000000;
}

.section-errors h2  {
	font-weight: bold;
	color: white;
	font-size: 25px;
	text-shadow: 1px 1px 1px #000000;
}

.section-loriya {
	padding-top: 100px;
	background-color: #F5F5F5;
}

.section-loriya h1 {
	/* font-weight: bold; */
}

.section-loriya h2 {
	/* font-weight: bold; */
}

.left-border {
	border-left: 4px solid #0381f0;
	padding-left: 20px;
}

.left-border h3 {
	line-height: 1.5;
}

h1,h2,h3{
	/* text-transform: uppercase; */
}

.text-uppercase {
	text-transform: uppercase;
}

.section-info {
	background-color: #F5F5F5;
	padding-top: 100px;
	height: 100vh;
}

.img-law-item { 
	width: 250px;
	position: absolute;
	bottom: 5px;
	left: -70px;
}

.how-we-work {
	background-color: #F5F5F5;
}

.work-timeline-block {
	background-color: white;
	border: 1px solid #ccc;
}

.work-timeline-txt {
	font-size: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

.disable-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.work-line {
	border-left: 10px solid white;
	display: inline-block;
}

.work-icon {
	font-size: 35px;
	padding-bottom: 20px;
}

.section-garant {
	padding-top: 100px;
	min-height: 500px;
	background: url('../img/scr-loriya.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.section-garant h1 {
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 1px #000000;
}

.section-garant h2  {
	font-weight: bold;
	color: white;
	font-size: 25px;
	text-shadow: 1px 1px 1px #000000;
}

.section-business {
	padding-top: 100px;
	min-height: 650px;
	background-color: #F5F5F5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 2px solid #0381f0;
}

.section-business h1 {
	/* font-weight: bold; */
	/* text-shadow: 1px 1px 1px #000000; */
}

.section-business h2 {
	/* font-weight: bold; */
	font-size: 25px;
	/* text-shadow: 1px 1px 1px #000000; */
}

.logo-footer {
	width: 120px;
	margin-right: 20px;
}

.footer-col {
	padding-left: 80px; 
	border-right: 1px solid #0381f0;
}

.section-map {
	height:550px; 
	padding: 0;
}

.map-frame {
	display: none;
}

.line-bottom {
    padding-bottom: 10px;
    border-bottom: 2px solid #0381f0;
	display: inline-block;
}

.line-bottom2 {
	margin-bottom: 5px;
    border-bottom: 2px solid #0c84da;
	display: inline-block;
}

.fa-big {
	font-size: 30px;
}

.fa-big2 {
	font-size: 33px;
}

.fa-wh {
	color: rgb(7, 212, 7);
}

.fa-tel {
	color: rgb(27, 118, 236);
}

.fa-vib {
	color: rgb(139, 20, 185);
}

.fa-icons {
	color: #0381f0;
	opacity: 0.9;
}

.width-md {
	width: 250px;
}

.width-sm {
	width: 80px;
}

.width-sm3 {
	width: 60px;
}

.width-sm2 {
	width: 160px;
}

.width-lg {
	width: 400px;
}

/* Navbar */
.nav{
	margin-top:18px;
}

.navbar{
	min-height:10px; /* */
	margin-bottom:0 !important;
	max-height: 65px;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	background-color: transparent;
}

.navbar a {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	border-right: none !important;
	margin-right: 10px;
	color: white;
}

.navbar-brand{
	height: auto;
	padding-top:8px;
	margin:0;
}

.navbar-nav{
	margin:0;
	padding:0;
}

/*Style navigation bar*/
.navbar-inverse{
	/* background: white; */
	/* border-bottom: 2px #DDB98F solid !important; */
	/* border-top: 1px #DDB98F solid !important; */
	border-bottom: none;
}

.navbar-nav li{
	padding-top:5px;
	padding-bottom:5px;
}

.navbar-nav > li > a{
	font-size:19px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	/* text-transform: uppercase; */
}

.navbar-nav > li > a span{
	margin:5px 0 0 0;
	padding:0;
	font-size: 14px;
	display:block;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif !important;
	text-transform: none;
}

.navbar-nav a:hover,.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background: transparent !important;
	color: #0381f0 !important;
}

/* animated link */
.navbar-nav a {
	position: relative;
	color: #0381f0;
	text-decoration: none;
}
  
.navbar-nav a:hover {
	color: #0381f0;
}

.navbar-nav a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0381f0;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navbar-nav a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* End animated link */

.nav-icon {
	color: #0c84da;
	font-size: 46px;
}

.nav-icon-mob {
	color: #0c84da;
	font-size: 16px;
}

/* end navbar */

footer {
	text-align: center;
	background:white;
	color: black !important;
	padding-top:15px;
	border-top: 2px solid #0381f0;
}

.padding-10 {
	padding-top: 10px;
}

.padding-20 {
	padding-top: 10px;
}

.padding-25 {
	padding-top: 25px;
}

.padding-30 {
	padding-top: 30px;
}

.padding-40 {
	padding-top: 40px;
}

.padding-80 {
	padding-top: 80px;
}

.padding-60 {
	padding-top: 60px;
}

a.phone-a {
	color: black !important;
	text-decoration: none !important;
	cursor: pointer !important;
}

.fa-size-big {
	font-size: 80px;
}

/* @media(max-width:990px){
	.navbar-header{
		float:none;
	}
	.navbar-left, .navbar-right{
		float:none !important;
	}
	.navbar-toggle{
		display:block;
	}
	.navbar-collapse{
		border-top:1px solid transparent;
		box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse{
		display:none !important;
	}
	.navbar-nav{
		float:none;
		margin-top:7.5px;
	}
	.navbar-nav > li{
		float:none;
	}
	.navbar-nav > li > a{
		padding-top:10px;
		padding-bottom:10px;
		border-right:none;
	}
	.collapse.in{
		display:block !important;
	}
} */


/* Water animation */
.profilepicture {
	position: absolute; 
	width: 80px;
	height: 80px;
	/* background-color: #155fc7; */
	background-size: 60px 60px;
	margin: auto; 
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 3;
	-webkit-box-shadow: 
	  0 0 0 10px  rgba(255,255,255, 0.2),
	  0 0 5px 2px rgba(0,0,0, 0.3),
  inset 0 0 0 10px  rgba(58, 240, 3, 0.2);
	-moz-box-shadow: 
	  0 0 0 10px  rgba(255,255,255, 0.2),
	  0 0 5px 2px rgba(0,0,0, 0.3),
  inset 0 0 0 10px  rgba(58, 240, 3, 0.2);
	box-shadow: 
	  0 0 0 10px  rgba(255,255,255, 0.2),
	  0 0 5px 2px rgba(0,0,0, 0.3),
  inset 0 0 0 10px  rgba(58, 240, 3, 0.2);
	-webkit-border-radius: 999px; 
	-moz-border-radius: 999px;
	border-radius: 999px;
	border-radius: 50%;
  }
  
  .profilepicture:hover {
	-webkit-transition: all 300ms ease-in;
	  -webkit-transform: scale(1.15);
	  -ms-transition: all 300ms ease-in;
	  -ms-transform: scale(1.15);   
	  -moz-transition: all 300ms ease-in;
	  -moz-transform: scale(1.15);
	  transition: all 300ms ease-in;
	  transform: scale(1.15);
  }
  
  .pulse1 {
	position: absolute;  
	width: 121px;
	height: 121px;
	margin: auto; 
	top: 0; left: -20px; bottom: 0; right: 0;
	z-index: 1;
	opacity: 0;
	/* border: 3px solid #03f052; */
	-webkit-animation: pulsejg1 2.5s linear infinite;
	-moz-animation: pulsejg1 2.5s linear infinite;
	animation: pulsejg1 2.5s linear infinite;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	-webkit-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
	box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  .pulse2 {
	position: absolute;
	width: 120px;
	height: 120px;
	margin: auto; 
	top: 0; left: -20px; bottom: 0; right: 0;
	z-index: 2;
	opacity: 0;
	/* border: 1px solid #03f052; */
	-webkit-animation: pulsejg2 3s linear infinite;
	-moz-animation: pulsejg2 3s linear infinite;
	animation: pulsejg2 3s linear infinite;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	-webkit-box-shadow: inset 0px 0px 12px 5px rgba(43, 255, 0, 0.8);
	-moz-box-shadow: inset 0px 0px 12px 5px rgba(43, 255, 0, 0.8);
	box-shadow: inset 0px 0px 12px 5px rgba(43, 255, 0, 0.8);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  @-webkit-keyframes pulsejg1 {
	0% {
		-webkit-transform: scale(.6);
		opacity: 0;
	}
  
	50% {
		-webkit-transform: scale(.6);
		opacity: 0;
	}
  
	60% {
		-webkit-transform: scale(.9);
		opacity: .2;
	}
  
	70% {
		-webkit-transform: scale(1.1);
		opacity: .35;
	}
  
	80% {
		-webkit-transform: scale(1.25);
		opacity: .2;
	}
  
	100% {
		-webkit-transform: scale(1.4);
		opacity: 0;
	}
  }
  
  @-moz-keyframes pulsejg1 {
	0% {
		-moz-transform: scale(.6);
		opacity: 0;
	}
  
	50% {
		-moz-transform: scale(.6);
		opacity: 0;
	}
  
	60% {
		-moz-transform: scale(.9);
		opacity: .2;
	}
  
	70% {
		-moz-transform: scale(1.1);
		opacity: .35;
	}
  
	80% {
		-moz-transform: scale(1.25);
		opacity: .2;
	}
  
	100% {
		-moz-transform: scale(1.4);
		opacity: 0;
	}
  }
  
  @keyframes pulsejg1 {
	0% {
		transform: scale(.6);
		opacity: 0;
	}
  
	50% {
		transform: scale(.6);
		opacity: 0;
	}
  
	60% {
		transform: scale(.9);
		opacity: .1;
	}
  
	70% {
		transform: scale(1.1);
		opacity: .25;
	}
  
	80% {
		transform: scale(1.25);
		opacity: .1;
	}
  
	100% {
		transform: scale(1.4);
		opacity: 0;
	}
  }
  
  @-webkit-keyframes pulsejg2 {
	0% {
		-webkit-transform: scale(.6);
		opacity: 0;
	}
  
	40% {
		-webkit-transform: scale(.8);
		opacity: .05;
	}
  
	50% {
		-webkit-transform: scale(1);
		opacity: .1;
	}
  
	60% {
		-webkit-transform: scale(1.1);
		opacity: .3;
	}
  
	80% {
		-webkit-transform: scale(1.2);
		opacity: .1;
	}
  
	100% {
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
  }
  
  @-moz-keyframes pulsejg2 {
	0% {
		-moz-transform: scale(.6);
		opacity: 0;
	}
  
	40% {
		-moz-transform: scale(.8);
		opacity: .05;
	}
  
	50% {
		-moz-transform: scale(1);
		opacity: .1;
	}
  
	60% {
		-moz-transform: scale(1.1);
		opacity: .3;
	}
  
	80% {
		-moz-transform: scale(1.2);
		opacity: .1;
	}
  
	100% {
		-moz-transform: scale(1.3);
		opacity: 0;
	}
  }
  
  @keyframes pulsejg2 {
	0% {
		transform: scale(.6);
		opacity: 0;
	}
  
	40% {
		transform: scale(.8);
		opacity: .05;
	}
  
	50% {
		transform: scale(1);
		opacity: .1;
	}
  
	60% {
		transform: scale(1.1);
		opacity: .3;
	}
  
	80% {
		transform: scale(1.2);
		opacity: .1;
	}
  
	100% {
		transform: scale(1.3);
		opacity: 0;
	}
  }
  
  .mbr-arrow {
	bottom: 48px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%; }
	@media (max-width: 991px) {
	  .mbr-arrow {
		bottom: 31px; } }
	@media (max-width: 320px) {
	  .mbr-arrow {
		bottom: 21px; } }
	@media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
	  .mbr-arrow {
		bottom: 31px; } }
	.mbr-arrow a {
	  background: white;
	  border-radius: 3px;
	  border-color: #000000;
	  color: black;
	  display: inline-block;
	  height: 46px;
	  outline-style: none !important;
	  position: relative;
	  text-decoration: none;
	  transition: all .3s ease-in-out;
	  width: 46px; }
	  .mbr-arrow a:hover {
		background: #0a0a0a;
		color: white;
		border-color: white;
	 }
	.mbr-arrow-icon {
	  display: block; }
	  .mbr-arrow-icon::before {
		content: "\203a";
		display: inline-block;
		font-family: serif;
		font-size: 32px;
		line-height: 1;
		font-style: normal;
		left: 4px;
		position: relative;
		top: 6px;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg); }
	.mbr-arrow-floating .mbr-arrow-icon {
	  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
	  animation: floating-arrow 1.6s infinite ease-in-out 0s; }
  
  .mbr-arrow-up {
	bottom: 25px;
	right: 90px;
	position: fixed;
	text-align: right;
	z-index: 5000; }
	@media (max-width: 991px) {
	  .mbr-arrow-up {
		bottom: 31px; } }
	@media (max-width: 320px) {
	  .mbr-arrow-up {
		bottom: 21px; } }
	@media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
	  .mbr-arrow-up {
		bottom: 31px; } }
	.mbr-arrow-up a {
	  background: rgba(0, 0, 0, 0.2);
	  border-radius: 3px;
	  color: #fff;
	  display: inline-block;
	  height: 46px;
	  outline-style: none !important;
	  position: relative;
	  text-decoration: none;
	  transition: all .3s ease-in-out;
	  width: 46px;
	  cursor: pointer; }
	  .mbr-arrow-up a:hover {
		background: #2d2d2d; }
	.mbr-arrow-up-icon {
	  display: block; }
	  .mbr-arrow-up-icon::before {
		content: "\203a";
		display: inline-block;
		font-family: serif;
		font-size: 32px;
		line-height: 1;
		font-style: normal;
		position: relative;
		top: 6px;
		left: -4px;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg); }
	.mbr-arrow-up:hover .mbr-arrow-up-icon {
	  -webkit-animation: floating-arrow-up 1.6s ease-in-out infinite 0s;
	  animation: floating-arrow-up 1.6s ease-in-out infinite 0s; }
  
	  .btn-border-dark {
		border: 1px solid #ffffff;
	  }
	  

/* MD */
@media(min-width:768px) {
	.absolute-center {
		height: 500px;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}

	.map-frame {
		display: block;
		position: absolute;
		top: 110px;
		right: 80px;
		width: 250px;
		height: 335px;
		padding: 15px;
		background: #fff;
		border: 3px #0381f0 solid;
		border-radius: 5px;
		box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.14);
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
	}

	.mbr-arrow-up {
		right: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		text-align: center;
		bottom: 15px; 
	}
	
	.font-feedback-text {
		font-size: 20px;
		/* color: black; */
		font-style: italic;
		font-family: 'Lora', serif;
	}
	
	.feedback-block {
		background-color: #f5f5f5;
		padding: 20px 55px 20px 55px;
		border-radius: 35px;
		border: 1px solid #f2f2f2;
	}
	
	.feedback-img-txt {
		font-size: 18px;
		font-weight: bold;
		padding-top: 10px;
	}
	
	.section-feedback {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #ffffff;
	}

	.call-back-form-header {
		/* padding-top: 40px; */
	}

	.phone-link {
		font-size: 25px !important;
		color: white;
		text-shadow: 2px 2px 4px #000000;
	}
	
	.phone-link:hover {
		color: #0381f0 !important;
		text-decoration: none;
		text-shadow: 2px 2px 4px #000000;
	}

	.call-back-btn {
		position: fixed;
		right: 50px;
		bottom: 40px;
		width: 70px;
		height: 70px;
		cursor: pointer;
		opacity: 0.5;
		z-index: 99990;
	}

	.btn-order-call {
		background-color: #0381f0 !important;
		color: white !important;
		font-weight: 400;
	}

	.btn-order-call:hover {
		background-color: white !important;
		color: rgb(83, 83, 83) !important;
		/* border: 1px #000000 solid; */
		font-weight: 600;
	}

	.btn-order-call-o {
		background-color: white !important;
		color: rgb(83, 83, 83) !important;
		font-weight: 400;
	}

	.btn-order-call-o:hover {
		background-color: #0381f0 !important;
		color: white !important;
		/* border: 1px #000000 solid; */
		font-weight: 600;
	}

	.custom-request-form {
		padding-left: 15px;
	}
}


/* XS */
@media(max-width:768px){
	.navbar {
		background-color: white !important;
	}

	.navbar-nav > li > a {
		text-shadow: none !important;
	}
	
	.font-feedback-text {
		font-size: 16px;
		/* color: black; */
		font-style: italic;
		font-family: 'Lora', serif;
	}

	.feedback-block {
		/* border: 1px solid #DDB98F;
		padding: 20px 20px 20px 20px; */
		background-color: #f5f5f5;
		padding: 20px 20px 20px 20px;
		border-radius: 35px;
		border: 1px solid #f2f2f2;
	}

	.feedback-img-txt {
		font-size: 14px;
		font-weight: bold;
		padding-top: 10px;
	}

	.call-back-form-header {
		/* padding-top: 16vh; */
		/* padding-left: 80px; */
	}

	.line-bottom {
		padding-bottom: 10px;
		border-bottom: 2px solid #0381f0;
		display: inline-block;
	}

	.profilepicture {
		width: 60px;
		height: 60px;
	}
	
	.navbar-inverse .navbar-collapse {
		background-color: #ffffff;
		border-top: 1px solid #0381f0;
		border-bottom: 1px solid #0381f0;
	}
	 
	.phone-link {
		font-size: 25px;
		line-height: 40px;
		color: white;
		text-align: center;
		text-shadow: none !important;
	}

	.phone-link:hover {
		color: #0381f0 !important;
		text-decoration: none;
		text-shadow: 2px 2px 4px #000000;
	}

	.navbar a {
		padding-top: 10px !important;
		padding-bottom: 0 !important;
		color: black !important;
	}
	
	.navbar-inverse .navbar-toggle {
		border-color: #ccc;
	}

	.navbar-toggle {
		background-color: #0381f0;
		background-image: none;
		border: 1px solid transparent;
	}

	.navbar-toggle:focus {
		background-color: #0381f0 !important;
		background-image: none;
		border: 1px solid black;
	}

	.btn-order-call {
		background-color: #0381f0 !important;
		color: white !important;
		font-weight: 400;
	}

	.btn-order-call:hover {
		background-color: white !important;
		color: rgb(83, 83, 83) !important;
		/* border: 1px #000000 solid; */
		font-weight: 600;
	}

	.call-back-btn {
		position: fixed;
		right: 15px;
		bottom: 15px;
		width: 60px;
		height: 60px;
		cursor: pointer;
		opacity: 0.5;
		z-index: 99990;
	}

	.custom-request-form {
		padding-left: 15px;
		text-align: center;
	}

	.section-top {
		background: url('../img/main-scr.jpg') no-repeat center center; 
		padding-top: 50px;
		height: auto;
		min-height: 100vh
	}

	.section-top h1 {
		text-transform: uppercase;
		font-size: 24px !important;
		color: white;
		font-weight: bold;
		text-shadow: 2px 2px 4px #000000;
		text-align: left;
	}
	
	.section-top h2 {
		text-transform: uppercase;
		font-size: 20px !important;
		line-height: 1.3;
		color: white;
		font-weight: bold;
		text-shadow: 2px 2px 4px #000000;
		text-align: left;
	}
	
	.section-top .general-header {
		font-size: 28px !important;
	}

	.section-info {
		background-color: #F5F5F5;
		padding-top: 0px;
		height: auto;
	}

	.section-info h1 {
		
	}

	.section-info h3 {
		/* font-size: 20px !important; */
	}

	.fa-size-big {
		font-size: 60px;
	}
	
	h1 {
		font-size: 25px !important;
	}

	h2 {
		font-size: 22px !important;
	}

	h3 {
		font-size: 20px !important;
	}

	h4 {
		font-size: 16px !important;
	}

	.section-garant {
		padding-top: 50px;
		padding-bottom: 0px;
	}

	.panel-title, .panel-title:hover {
		font-size: 18px !important;
		font-weight: 400;
	}

	.garant-txt {
		font-size: 18px;
		line-height: 1.7;
	}

	.section-errors {
		/* padding-top: 100px;
		height: 100vh;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: white; */
		background: url('../img/scr-errors.png') no-repeat center center; 
		padding-top: 45px;
		height: auto;
	}
	
	.section-errors h1 {
		font-weight: bold;
		color: white;
		text-shadow: 1px 1px 1px #000000;
	}
	
	.section-errors h2  {
		font-weight: bold;
		color: white;
		font-size: 25px;
		text-shadow: 1px 1px 1px #000000;
	}

	.section-loriya {
		padding-top: 50px;
		background-color: #F5F5F5;
	}
	
	.section-loriya h1 {
		/* font-weight: bold; */
	}
	
	.section-loriya h2 {
		/* font-weight: bold; */
	}

	.img-law-item { 
		width: 150px;
		position: absolute;
		bottom: -20px;
		left: -5px;
	}

	.section-garant {
		padding-top: 50px;
		/* min-height: 500px;
		background: url('../img/scr-loriya.jpg'); 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; */
	}
	
	.section-garant h1 {
		font-weight: bold;
		color: white;
		text-shadow: 1px 1px 1px #000000;
	}
	
	.section-garant h2  {
		font-weight: bold;
		color: white;
		font-size: 25px;
		line-height: 1.2;
		text-shadow: 1px 1px 1px #000000;
		text-align: center;
	}

	.section-business {
		padding-top: 50px;
		/* min-height: 650px;
		background-color: #F5F5F5;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		border-bottom: 2px solid #0381f0; */
	}
	
	.section-business h1 {
		/* font-weight: bold; */
		/* text-shadow: 1px 1px 1px #000000; */
	}
	
	.section-business h2 {
		/* font-weight: bold; */
		font-size: 25px;
		/* text-shadow: 1px 1px 1px #000000; */
		text-align: center;
	}

	.logo-footer {
		display: none;
	}

	.logo-footer-2 {
		width: 200px;
		margin: 0 auto;
		padding-bottom: 20px;
	}

	.footer-col {
		padding-left: 18.33%; 
		border-right: 1px solid #0381f0;
	}

	.footer-txt {
		padding-left: 40px;
		line-height: 1.8;
	}

	.line-bottom-n {
		/* border-bottom: 2px solid #0381f0; */
		/* margin: 0 auto; */
		width: 80px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}